---
layout: plain
---

<section class="intro">
  <div class="row logo-bg hidden-sm hidden-xs">
    <div class="col-md-10 col-md-offset-2">
      <h1 class="bigger-title hidden-md">The Bitcoin Association of Australia</h1>
      <h1 class="big-title hidden-lg">The Bitcoin Association of Australia</h1>
      <p class="big-description">
        We are Australia's not-for-profit association dedicated to the standardisation, 
        protection, and promotion of Bitcoin and cryptocurrency in the region.
      </p>
    </div>
  </div>
  <div class="row hidden-md hidden-lg">
    <div class="col-sm-12 logo">
      <img class="logo" src="/img/baa/logo.jpg" />
    </div>
    <div class="col-sm-12">
      <h1 class="big-title">The Bitcoin Association of Australia</h1>
      <p class="big-description">
        We are Australia's not-for-profit association dedicated to the standardisation, 
        protection, and promotion of Bitcoin and cryptocurrency in the region.
      </p>
    </div>
  </div>
</section>
<section class="row subcomittees">
  <div class="col-md-5 col-md-offset-1">
      <button type="button" class="btn btn-primary">Community - Coming Soon</button>
      <button type="button" class="btn btn-success">Education - Coming Soon</button>
  </div>
  <div class="col-md-5">
      <button type="button" class="btn btn-info">Regulation - Coming Soon</button>
      <button type="button" class="btn btn-warning">Innovation - Coming Soon</button>
  </div>
</section>
<hr>
<section class="blog-front">
{% for post in site.posts %}
  {% if post.categories contains "front-page" %}
    <div class="blog-post-excerpt">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      {{ post.excerpt }}
    </div>
  {% endif %}
{% endfor %}
</section>
<hr>
{% include events.html %}
<hr>
