<section class="upcoming-events">
  <h1>Upcoming Events</h1>
    <div class="col-md-8 event">
      <h3><a href="http://www.cryptocon.net/">Cryptocon</a> <small>Sydney | 24-25 July</small></h3>
      <a href="http://www.cryptocon.net/">
        <img class="event-image" src="/img/cryptocon/big-banner.jpg" style="padding: 0px 50px 0px 50px" />
      </a>
      <!-- <p>Event details</p> -->
    </div>
    <div class="col-md-4">
      <h3>Meetups</h3>
      <ul>
        <li><h4><a href="http://www.meetup.com/BitcoinMelbourne/">Bitcoin Melbourne</a></h4></li>
        <li><h4><a href="http://www.meetup.com/Bitcoin-Professionals/">Bitcoin Professionals (Sydney)</a></h4></li>
        <li><h4><a href="http://www.meetup.com/Sydney-Bitcoin/">Sydney Bitcoin Users Group</a></h4></li>
        <!--<li><h4></h4></li>-->
      </ul>
    </div>
  </div>
</section>
