<section class="upcoming-events">
  <h1>Upcoming Events</h1>
  <div class="row">
    <div class="col-md-6 event"> 
      <h3>Inside Bitcoins <small>Melbourne | 9-10 July</small></h3>
      <img class="event-image inside-bitcoins-bg inside-bitcoins-logo" src="/img/inside-bitcoins/header-logo.png" />
      <!-- <p>Event details</p> -->
    </div>
    <div class="col-md-6 event">
      <h3>Cryptocon <small>Sydney | 24-25 July</small></h3>
      <img class="event-image" src="/img/cryptocon/header-logo.png" />
      <!-- <p>Event details</p> -->
    </div>
  </div>
</section>
