<section class="upcoming-events">
  <h1>Upcoming Events</h1>
  <div class="row">
    <div class="col-md-6 event"> 
      <h3><a href="http://www.mediabistro.com/insidebitcoins/australia/">Inside Bitcoins</a> <small>Melbourne | 9-10 July</small></h3>
      <a href="http://www.mediabistro.com/insidebitcoins/australia/">
        <img class="event-image inside-bitcoins-bg inside-bitcoins-logo" src="/img/inside-bitcoins/header-logo.png" />
      </a>
      <!-- <p>Event details</p> -->
    </div>
    <div class="col-md-6 event">
      <h3><a href="http://www.cryptocon.net/">Cryptocon</a> <small>Sydney | 24-25 July</small></h3>
      <a href="http://www.cryptocon.net/">
        <img class="event-image" src="/img/cryptocon/header-logo.png" />
      </a>
      <!-- <p>Event details</p> -->
    </div>
  </div>
</section>
